<div class="container body-content">
    <div class="row">
        {{#if likedAlbums}}
            <h1>Liked albums</h1>
            <div id="pagination" class="dark-theme simple-pagination"></div>
            <div id="albums">
                {{#each likedAlbums}}
                    <div class="col-md-6">
                        <div class="albuminfo">
                            <article>
                                <header>
                                    <h2>{{name}}</h2>
                                </header>

                                <p>{{theme}}
                                </p>

                                <small class="author">
                                    {{author.fullName}}
                                </small>

                                <footer>
                                    <div class="pull-right">
                                        <a class="btn btn-default btn-xs"
                                           href="/album/details/{{id}}">View &raquo;</a>
                                    </div>
                                </footer>
                            </article>
                        </div>
                    </div>
                {{/each}}
            </div>
        {{/if}}
        {{#unless likedAlbums}}
            <h2>You don't have any albums :(</h2>
        {{/unless}}

    </div>
    <div class="row">
        <a href="/album/myalbums" class="btn btn-primary pull-left" style="margin-top: 20px;">My albums</a>
    </div>

</div>


<script>
    jQuery(function ($) {
        // Consider adding an ID to your table
        // incase a second table ever enters the picture.
        var items = $("#albums .col-md-6 .albuminfo");

        var numItems = items.length;
        var perPage = 8;

        // Only show the first 2 (or first `per_page`) items initially.
        items.slice(perPage).hide();

        // Now setup the pagination using the `.pagination-page` div.
        $("#pagination").pagination({
            items: numItems,
            itemsOnPage: perPage,
            cssStyle: "dark-theme",

            // This is the actual page changing functionality.
            onPageClick: function (pageNumber) {
                // We need to show and hide `tr`s appropriately.
                var showFrom = perPage * (pageNumber - 1);
                var showTo = showFrom + perPage;

                // We'll first hide everything...
                items.hide()
                // ... and then only show the appropriate rows.
                        .slice(showFrom, showTo).show();
            }
        });

        // EDIT: Let's cover URL fragments (i.e. #page-3 in the URL).
        // More thoroughly explained (including the regular expression) in:
        // https://github.com/bilalakil/bin/tree/master/simplepagination/page-fragment/index.html

        // We'll create a function to check the URL fragment
        // and trigger a change of page accordingly.
        function checkFragment() {
            // If there's no hash, treat it like page 1.
            var hash = window.location.hash || "#page-1";

            // We'll use a regular expression to check the hash string.
            hash = hash.match(/^#page-(\d+)$/);

            if (hash) {
                // The `selectPage` function is described in the documentation.
                // We've captured the page number in a regex group: `(\d+)`.
                $(".pagination-page").pagination("selectPage", parseInt(hash[1]));
            }
        };

        // We'll call this function whenever back/forward is pressed...
        $(window).bind("popstate", checkFragment);

        // ... and we'll also call it when the page has loaded
        // (which is right now).
        checkFragment();

    });
</script>
