<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>{{fullName}}</h1>
            <img id="profilepicture" src="{{profilePicture}}" alt="Image"
                 style="border: 1px solid black; border-radius: 15%">
            <script>
                var img = document.getElementById("profilepicture");
                while (img.height>300){
                    img.height*=0.95;
                    img.width*=0.95;
                }
            </script>
        </div>
    </div>
</div>